{% layout 'header.liquid' %}

{% block content %}

<script type="text/javascript" src="/javascripts/highcharts/code/highcharts.js"></script>

    <div class="row">
        <div class="col-md-12">
            <div id="container" style="height: 600px;"></div>
           <script>
            const request = new Request('/charts/testchart/{{id}}', {
                method: 'GET'
            });

            fetch(request)
            .then(resp => resp.json())
            .then(data => {
                console.log('returned data', data);

                Highcharts.chart('container', {
                   colors: ["#007155","#3b886e","#60a088","#84b8a3","#a7d0bf","#cae9dc","#007155","#3b886e",
                       "#60a088","#84b8a3","#a7d0bf","#cae9dc","#e5f5e0","#c7e9c0","#a1d99b","#74c476","#41ab5d",
                       "#238b45","#006d2c","#00441b","#ed7330", "#ed8751","#eb9a71","#e6ad90","#ddbfb0","#d1d1d1"],
                   chart: {
                       type: 'column'
                   },
                   title: {
                       text: 'Reading Proficiency at the End of Third Grade'
                   },
                   subtitle: {
                       text: 'Source: Vermont Department of Education'
                   },
                   xAxis: {
                       categories: data.categories,
                       crosshair: true
                   },
                   yAxis: {
                       min: 0,
                       max: 100,
                       title: {
                           text: 'Percent'
                       },
                       labels: {
                           format: '{text}%'
                       },
                   },
                   tooltip: {
                       headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                       pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                           '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
                       footerFormat: '</table>',
                       shared: true,
                       useHTML: true
                   },
                   plotOptions: {
                       column: {
                           pointPadding: 0.2,
                           borderWidth: 0
                       },
                       series: {
                           dataLabels: {
                               enabled: true
                           }
                       }
                   },
                   series: data.series
               });
            });
           </script>
        </div>
    </div>


{% endblock %}

{% layout 'footer.liquid' %}