{% layout 'header.liquid' %}

{% block content %}

<div class="container-fluid">
    <div class="container">
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <div style="text-align: center;">
                    <div>
                        lead distribution signup confirmation: {{username}}
                    </div>
                    <div>
                        {% if msg %}
                        <div>{{msg}}</div>
                        {% endif %}
                    </div>
                    <form class="form-signin" method="POST" action="/signup/confirm">
                        <input type="hidden" id="username" name="username" value="{{username}}" />
                        <label for="inputPassword" class="sr-only">Confirmation Code</label>
                        <input style="width: 400px; margin-bottom: 1em;"  name="code" id="code"  class="form-control"  placeholder="Confirmation Code" required />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% layout 'footer.liquid' %}
